.tradingWindow{
-fx-background-color: #072333;
    -fx-text-fill: #57af71;
    -fx-text-align: center;
    -fx-background-color: #116798;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
    -fx-border-color: #ac7446;
    -fx-border-width: 2.0;
}
.chart-container {
    -fx-background-color: #072333;
    -fx-background-radius: 10.0;
    -fx-background-insets: 0;
    -fx-border-color: #466fac;
    -fx-border-width: 2.0;
    -fx-border-radius: 10.0;
}

.trade-tab {
    -fx-text-fill: #57af71;
    -fx-text-align: center;
    -fx-background-color: #116798;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
    -fx-border-color: #ac7446;
    -fx-border-width: 2.0;
}

.account-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #1d70cc;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.position-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #2959ea;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.order-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #3385ff;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.news-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #57af71;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.market-data-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #1f917c;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.historical-data-tab {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-background-color: #0a3463;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0;
}

.upcoming-news-box_canvas {
    -fx-background-color: #ffffff;
    -fx-border-color: #181818;
    -fx-text-fill-color: rgba(77, 200, 112, 0.7);
    -fx-padding: 10px;
    -fx-border-radius: 30px;
    -fx-background-insets: 20;
    -fx-background-radius: 20px;
}

.news_border_pane {
    -fx-background-color: #0a3936;
    -fx-border-color: #b16815;
    -fx-text-fill-color: #d3eb34;
    -fx-padding: 10px;
    -fx-border-radius: 30px;
    -fx-background-insets: 20;
    -fx-background-radius: 20px;

}

.trading-window {

    -fx-background-color: #0f2a46;
    -fx-border-color: #45d16f;
    -fx-text-fill-color: #d3eb34;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
    -fx-background-repeat: no-repeat;

}

.text-field {
    -fx-background-color: #8cb8e5;
}

.gridPane {
    -fx-padding: 10;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

.button {
    -fx-font-size: 90%;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-background-color: #45d16f;
    -fx-font-weight: bold;
    -fx-border-radius: 6px;
}

.text-field {
    -fx-background-color: #8cb8e5;
    -fx-font-size: 100%;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: #45d16f;
}

.text-area {
    -fx-font-size: 100%;
    -fx-text-fill-color: #6bd0e3;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}



.chart-plot-background {
    -fx-background-color: rgba(46, 86, 161, 0.31);
}

/*.chart{*/
/*    -fx-background-color: #0a325e*/
/*}*/



.menu-items {
    -fx-background-color: rgb(77, 141, 225);
    -fx-border-color: rgb(161, 227, 192);
}

.menu-item {
    -fx-background-color: rgb(214, 226, 241);
    -fx-border-color: rgb(115, 218, 162);


}

.text-hover {
    -fx-background-color: rgb(56, 156, 85);
}

.menu-item:hover {
    -fx-background-color: rgb(120, 153, 196);
}
.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: GOLD;
    -fx-padding: 2 5 2 0;
}

.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
    -fx-stroke-type: INSIDE;
}

.candlestick-chart {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
.candlestick-candle {
    -fx-background-color: GRAY;
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
    -fx-stroke-type: INSIDE;
}

.candlestick-line {
    -fx-stroke: GOLD;
    -fx-stroke-width: 1px;
    -fx-stroke-type: INSIDE;

}


.candlestick-bar.close-above-open {
    -fx-background-color: rgb(25,225,25,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-border-color: #e2e2e2;
}

.candlestick-bar.open-above-close {
    -fx-background-color: rgb(255,34,34,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-font-weight: bold;
    -fx-border-color: #e2e2e2;
}

.tradePairsCombox {
    -fx-text-fill: #0b99c9;
    -fx-background-color: rgb(87, 175, 113);
}
.label-gray {
    -fx-background-color: rgb(23, 211, 205);
}

.axis {
    -fx-text-fill: WHITE;
    -fx-font-color: #031528;
    -fx-tick-label-fill: GOLD;
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.chart-title {
    -fx-text-fill: #caefd5;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: #19e052;
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
}

.chart-tab {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

}

.trading-tab-pane {
    -fx-padding: 0;
    -fx-background-color: #478ddc;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

}

.chart-tab:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.axis-tick-mark {
    -fx-stroke: #d3eb34;
    -fx-stroke-width: 3;

}
.axis-minor-tick-mark {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 1;

}



.fx-background-color {
  -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
.chart-plot-background {
    -fx-background-color: rgb(14, 105, 203);
}

.combo-box {
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: #19e052;
    -fx-border-width: 2;
    -fx-border-color: rgb(14, 105, 203);
}

.anchor-pane {
    -fx-background-color: rgb(7, 56, 108);
    -fx-border-color: rgb(63, 236, 80);
    -fx-text-fill-color: rgb(255, 255, 255);
    -fx-background-insets: 0;
    -fx-background-radius: 15px;
}

.tool-bar {
    -fx-background-color: rgb(7, 56, 108);
    -fx-border-color: rgb(63, 236, 80);
    -fx-text-fill-color: rgb(255, 255, 255);
    -fx-background-insets: 0;
    -fx-background-radius: 15px;
}

.label {
    -fx-text-fill: #19e052;
    -fx-font-size: 100%;
    -fx-font-family: "Segoe UI Light";
    -fx-background-insets: 0;
}

.tab-pane {
    -fx-background-color: rgb(7, 56, 108);
    -fx-border-color: rgb(63, 236, 80);
    -fx-text-fill-color: rgb(255, 255, 255);
    -fx-background-insets: 0;
    -fx-background-radius: 15px;
}
.tab-pane-selected {
    -fx-background-color: rgb(63, 236, 80);
    -fx-border-color: rgb(14, 105, 203);
    -fx-text-fill-color: rgb(255, 255, 255);
}

.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 2 5 2 0;
}

.account-canvas {
    -fx-background-color: rgb(24, 24, 24);
    -fx-text-fill: #19e052;
    -fx-border-color: #ac7638;

    -fx-background-insets: 1;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-border-width: 16;
    -fx-border-radius: 40px;

}
.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}

.candlestick-candle {
    -fx-background-color: rgb(255,34,34,1.00);
    -fx-stroke: #106ece;
}

.candlestick-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
    -fx-stroke-type: INSIDE;
}


.candlestick-bar.close-above-open {
    -fx-background-color: rgb(25,225,25,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-border-color: #e2e2e2;
}

.candlestick-bar.open-above-close {
    -fx-background-color: rgb(255,34,34,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-font-weight: bold;
    -fx-border-color: #e2e2e2;
}


.label-gray {
    -fx-background-color: rgb(69, 209, 111);
    -fx-border-color: rgb(202, 239, 213);
}

.axis {
    -fx-text-fill: #17d3cd;
    -fx-font-color: #1d70cc;
    -fx-tick-label-fill: #FFFFFF;
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.chart-title {
    -fx-text-fill: #17d3cd;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
}

.axis-label {
    -fx-text-fill: #cee7e5;
}

.axis-tick-mark {
    -fx-stroke: #cee7e5;
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
    -fx-stroke-width: 1;
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-line-cap: ROUND;
}


.fx-background-color {
  -fx-background-color: red;
}
.chart-plot-background {
    -fx-background-color: rgb(211, 235, 52);
}

.tab-pane-selected {
    -fx-background-color: rgb(69, 209, 111);
    -fx-border-color: rgba(175, 195, 32, 0.7);
    -fx-text-fill-color: #ffffff;

}




